.table-sortable{
    font-size: 90%;
    margin-bottom: 15px;
}

.table-sortable > thead > tr > th {
    cursor: pointer;
    position: relative;
    background-image: none;
}
 
.table-sortable > thead > tr > th:after,
.table-sortable > thead > tr > th.sort-false:after,
.table-sortable > thead > tr > th.sort-true:after {
    font-family: FontAwesome;
    padding-left: 5px;
}

.table-sortable > thead > tr > th:after {
    content: "\f0dc";
    color: #ddd;
}
.table-sortable > thead > tr > th.sort-false:after {
    content: "\f0de";
    color: #767676;
}
.table-sortable > thead > tr > th.sort-true:after {
    content: "\f0dd";
    color: #767676;
}

.table-sortable > thead > tr > th,.table-sortable > thead > tr > td{
    background-color:#a0a0a0;
    font-weight: bold;
}

.table-sortable > thead > tr > th:nth-child(1){
    width:9%;
}

.table-sortable > thead > tr > th:nth-child(2){
    width: 10%;
}

.thead-default td:last-child{
    width:12%;
}

.has-feedback .form-control {
    padding-right: 30px !important;
}

@media only screen and (max-width : 992px) {
    .per-page {
        text-align: right;
    }

    .table-filters [class*='col-']:not(:last-child) {
        margin-bottom: 5px;
    }

}

@media only screen and (max-width: 992px) {
    .table-footer [class*='col-'] {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}