# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# other directory
.vagrant
.vscode

#exclude .js and .map files in app folder
public/app/**/*.js
public/app/**/*.map

# editor config files
.idea

#Distribution
dist
