<aws-billing-header [totalRecord]="totalRecord" [lastupdated]="convertedDate" [indiceslist]="indiceslist" [company]="company"  (companyChange)="onCompanyChange($event)"></aws-billing-header>
<!-- Begin page content -->
<div class="container-fluid aws-app-container" *ngIf="!error">
	<!-- 3. Display the application -->
	<div class="well well-sm form-inline" id="datefilter">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12 col-lg-3">
				<div class="input-group input-group-sm col-sm-12">
					<input type="text" name="daterange" class="form-control" [value]="dateRange" #dateRangeVal readonly/>
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				</div>
			</div>
		</div>
	</div>

	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading" id="headingOne">
				<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						Quick Summary
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">
				<div class="panel-body vdivide">
					<div class="col-md-6 col-xs-12" id="d3barchart">
						<aws-billing-bar-chart [appcomponentdata]="appcomponentdata" (selectProduct)="onSelectProduct($event)"></aws-billing-bar-chart>
					</div>
					<div class="col-md-6 col-xs-12" id="d3map">
						<d3-map [appcomponentdata]="appcomponentdata" (selectRegion)='onSelectRegion($event)'></d3-map>
					</div>
				</div>
			</div>
		</div>
		<aws-billing-datatable [appcomponentdata]="appcomponentdata" (detailReportChange)="onDetailReportChange($event)" (isloading)="isloading=$event" [company]="company"></aws-billing-datatable>
	</div>

	<aws-billing-loader [isloading]="isloading" (isloading)="isloading=$event"></aws-billing-loader>
</div>

<div class="container" *ngIf="error">
	<div class="center-msg">
		{{error}}
	</div>
</div>

<aws-billing-footer></aws-billing-footer>