<div>
	<div class="col-xs-2">      
	    <select class="form-control"  required (change)="yearChange($event.target.value)">
	            <option  *ngFor="let y of years" value="{{y}}" [selected]="yy === y ">{{y}}</option>    
	    </select>
    </div>
    <div class="col-xs-2">      
		<select class="form-control"  required (change)="monthChange($event.target.value)">
		        <option  *ngFor="let p of months" value="{{p.val}}"  [selected]="mm === p.val ">{{p.name}}</option>    
		</select>
    </div>

</div>
<aws-billing-heatmap></aws-billing-heatmap>
<aws-billing-datatable></aws-billing-datatable>