<aws-billing-header></aws-billing-header>
<!-- Begin page content -->
<div class="container-fluid aws-app-container">
	<!-- 3. Display the application -->
	<div class="row ">
		<div class="well well-padding" id="datefilter">
			<form class="form-inline">
				<div class="form-group right-extra-pad">
					<label for="sdate" class="right-extra-pad">Start Date:</label>
					<div class="input-group date datepicker" >
						
						<input type="text" name="startdate" class="form-control" [value]="startdate" #startDate readonly>
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>
				</div>
				<div class="form-group right-extra-pad">
					<label for="edate" class="right-extra-pad">End Date:</label>
					<div class="input-group date datepicker">
						<input type="text" name="enddate" class="form-control" [value]="enddate" #endDate readonly>
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary" (click)="searchAwsData(startDate.value,endDate.value)">Go</button>
			</form>
		</div>
	</div>


	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default" id="d3map">
				<div class="panel-heading">
					<h3 class="panel-title">
						<strong>Region wise Billing Cost</strong>
					</h3>
				</div>

				<div class="panel-body">
					<d3-map [startdate]="startdate" [enddate]="enddate" [selectedRegion]="selectedRegion" (selectRegion)='onSelectRegion($event)'
						(isloading)="isloading=$event"></d3-map>
					<!--<aws-billing-heatmap [startdate]="startdate" [enddate]="enddate" (isloading)="isloading=$event" [selectedRegion]="selectedRegion" (selectRegion)='onSelectRegion($event)'></aws-billing-heatmap>-->
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-default" id="d3piechart">
				<div class="panel-heading">
					<h3 class="panel-title">
						<strong>Product wise Billing Cost</strong>
					</h3>
				</div>

				<div class="panel-body">
					<aws-billing-chart [startdate]="startdate" [enddate]="enddate" [selectedRegion]="selectedRegion"></aws-billing-chart>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-lg-12" [ngStyle]="{'margin-top':20}" id="datatable">
			<aws-billing-datatable [startdate]="startdate" [enddate]="enddate" (isloading)="isloading=$event" [selectedRegion]="selectedRegion"></aws-billing-datatable>
		</div>
	</div>

	<aws-billing-loader [isloading]="isloading" (isloading)="isloading=$event"></aws-billing-loader>
</div>

<aws-billing-footer></aws-billing-footer>