<aws-billing-header [totalRecord]="totalRecord" [lastupdated]="convertedDate"></aws-billing-header>
<!-- Begin page content -->
<div class="container-fluid aws-app-container" *ngIf="!error">
	<!-- 3. Display the application -->
	<div class="row ">
		<div class="well well-sm well-padding form-inline" id="datefilter">
			<div class="form-group right-extra-pad">
				<label for="date-range" class="right-extra-pad">Date Range:</label>
				<div class="input-group date datepicker">
					<input type="text" name="daterange" class="form-control date-range-input" [value]="dateRange" #dateRangeVal readonly/>
					<div class="input-group-addon input-glyph">
						<span class="glyphicon glyphicon-calendar"></span>
					</div>
				</div>
			</div>
			<!--<button type="submit" class="btn btn-primary" (click)="searchAwsData(dateRangeVal.value)">Go</button>-->
		</div>
	</div>


	<div class="row">
		<div class="col-lg-6">	
			<div class="overlay-text"  *ngIf="noProductData">No data available.</div>		
			<div class="panel panel-default" id="d3piechart">
				<div class="panel-heading">
					<h3 class="panel-title">
						<strong>Product wise Billing Cost</strong>
					</h3>
				</div>
				<div class="panel-body">					
					<!--<aws-billing-chart [appcomponentdata]="appcomponentdata" (selectProduct)="onSelectProduct($event)" ></aws-billing-chart>-->
					<aws-billing-bar-chart [appcomponentdata]="appcomponentdata" (selectProduct)="onSelectProduct($event)"></aws-billing-bar-chart>
				</div>
			</div>

		</div>

		<div class="col-lg-6">
			<div class="overlay-text"  *ngIf="noRegionData">No data available.</div>
			<div class="panel panel-default" id="d3map">
				<div class="panel-heading">
					<h3 class="panel-title">
						<strong>Region wise Billing Cost</strong> 
						<small>Note: No regional data for product which do not give region info</small>
					</h3>
				</div>

				<div class="panel-body aws-panel-padding">
					<d3-map [appcomponentdata]="appcomponentdata" (selectRegion)='onSelectRegion($event)'></d3-map>
				</div>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-12" id="datatable">
			<aws-billing-datatable [productsRegionsData]="productsRegionsData" [appcomponentdata]="appcomponentdata" (detailReportChange)="onDetailReportChange($event)"></aws-billing-datatable>
		</div>
	</div>

	<aws-billing-loader [isloading]="isloading" (isloading)="isloading=$event"></aws-billing-loader>
</div>

<div class="container" *ngIf="error">
	<div class="center-msg">
		{{error}}
	</div>
</div>

<aws-billing-footer></aws-billing-footer>