.table-sortable{
    font-size: 90%;
}

.table-sortable > thead > tr > th {
    cursor: pointer;
    position: relative;
    background-image: none;
}
 
.table-sortable > thead > tr > th:after,
.table-sortable > thead > tr > th.sort-false:after,
.table-sortable > thead > tr > th.sort-true:after {
    font-family: FontAwesome;
    padding-left: 5px;
}

.table-sortable > thead > tr > th:after {
    content: "\f0dc";
    color: #ddd;
}
.table-sortable > thead > tr > th.sort-false:after {
    content: "\f0de";
    color: #767676;
}
.table-sortable > thead > tr > th.sort-true:after {
    content: "\f0dd";
    color: #767676;
}

.table-sortable > thead > tr > th,.table-sortable > thead > tr > td{
    background-color:#a0a0a0;
    font-weight: bold;
}

