.table-sortable{
    font-size: 90%;
}

.table-sortable > thead > tr > th {
    cursor: pointer;
    position: relative;
    background-image: none;
}
 
.table-sortable > thead > tr > th:after,
.table-sortable > thead > tr > th.sort-false:after,
.table-sortable > thead > tr > th.sort-true:after {
    font-family: FontAwesome;
    padding-left: 5px;
}

.table-sortable > thead > tr > th:after {
    content: "\f0dc";
    color: #ddd;
}
.table-sortable > thead > tr > th.sort-false:after {
    content: "\f0de";
    color: #767676;
}
.table-sortable > thead > tr > th.sort-true:after {
    content: "\f0dd";
    color: #767676;
}

.table-sortable > thead > tr > th,.table-sortable > thead > tr > td{
    background-color:#a0a0a0;
    font-weight: bold;
}

.table-sortable > thead > tr > th:nth-child(1){
    width:9%;
}

.table-sortable > thead > tr > th:nth-child(2){
    width: 10%;
}

.thead-default td:last-child{
    width:12%;
}

div.dataTable_filter{
    float: right;
    margin-top: -1px;
}

#searchclear {
    position: relative;
    right: 24px;
    top: 4px;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    width: 0px;
}

.panel-body > .table-responsive{
    padding: 0px 12px;
}

.has-feedback .form-control {
    padding-right: 30px !important;
}

.dataTables_wrapper .dataTables_info {
    float: left;
    padding-left: 15px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 5px;
}

@media only screen and (max-width : 992px) {
    .per-page {
        text-align: right;
    }
}