<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <strong>Detailed Report</strong>
        </h3>
    </div>

    <div class="panel-body">
        <div class="well well-sm form-inline">
            <div class="form-group detailed-report-filter">
                <label class="right-extra-pad" for="email">Search :</label>
                <input class="form-control" #detailfilterinput placeholder="Product name or Availability Region or Operation or Usage Type "
                />
                <i id="detailfilter" class="fa fa-search" (click)="filterbyOperation(detailfilterinput.value)"></i>
            </div>
        </div>

        <table class="table table-striped table-bordered table-sortable">
            <thead class="thead-default">
                <tr>
                    <template ngFor let-column [ngForOf]="columns">
                        <th *ngIf="column.sortable" [class]="selectedClass(column.variable)" (click)="changeSorting(column.variable)">
                            {{column.display}}
                        </th>
                        <td *ngIf="!column.sortable">
                            {{column.display}}
                        </td>
                    </template>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">

                    <td>{{item.ProductName}}</td>
                    <td>{{item.__AvailabilityRegion}}</td>
                    <td>{{item.Operation}}</td>
                    <td>{{item.ItemDescription}}</td>
                    <td>{{item.UsageType}}</td>
                    <td>{{item.UsageQuantity | number:'1.0-2'}}</td>
                    <td>{{item.BlendedRate | currency:'USD':true:'1.0-2'}}</td>
                    <td>{{item.BlendedCost | currency:'USD':true:'1.0-2'}}</td>
                    <td>{{item.UsageStartDate | date:'short'}} - {{item.UsageEndDate | date:'shortTime'}}</td>
                </tr>
                <tr *ngIf="data.length == 0">
                    <td colspan="10" [ngStyle]="{'text-align':'center'}">
                        <h3>No Data</h3>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10">
                        <ng-pagination *ngIf="data.length > 0" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize" [boundaryLinks]="true"
                            (pageChanged)="pageChanged($event)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="First"
                            last-text="Last" [ngStyle]="{'text-align':center}"></ng-pagination>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>