<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <a href="http://www.3pillarglobal.com/" target="_blank">
                    <img src="assets/images/3pg.logo.png">
                </a>
                <span class="navbar-text"><strong>AWS Billing Visualization</strong></span>
            </div>
        </div>

        <div id="navbar" class="collapse navbar-collapse" *ngIf="indiceslist">
                <ul class="nav navbar-nav navbar-right">
               
                <li class="dropdown" id="multiaccountdropdown">
                    <a href="#" class="dropdown-toggle selected-account" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false"><i class="fa fa-arrows-v"></i> <strong>{{indices ||
                        "Choose account"}}</strong> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let indx of indiceslist" [ngClass]="{'active': indices == indx}" [value]="indx"
                            (click)="onChangeIndex(indx)">
                            <a href="#">{{indx}}</a>
                        </li>
                        <li class="divider"></li>
                        <li (click)="onChangeIndex('AddIndex')" [ngClass]="{'active': indices == 'AddIndex'}"><a href="#">-- Add a new account --</a></li>
                    </ul>
                </li>

                <li class="dropdown" id="datasetsdropdown">
                    <a id="available-data" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false"><i class="fa fa-database"></i> Database <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!--<li><a href="#"><i class="fa fa-cloud-upload"></i> Upload new data</a></li>-->
                        <li><a href="#"><i class="fa fa-cloud"></i> Total records: {{totalRecord || "Not
                            available"}}</a></li>
                        <li><a href="#"><i class="fa fa-calendar-check-o"></i> Last import: {{lastupdated || "Not
                            available"}}</a></li>
                    </ul>
                </li>
                <li>
                  <a (click)="importPage($event)" aria-expanded="false" aria-haspopup="true" class="dropdown-toggle selected-account" href="javascript:void(0);" role="button">Import Data</a>
                </li>
                <li class="dropdown" id="helpdropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fa fa-question-circle"></i> Help <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" (click)="bootstrapTour()"><i class="fa fa-eye"></i> Quick Tour</a></li>
                        <li><a href="#faqs" data-toggle="modal"><i class="fa fa-commenting"></i> FAQ</a></li>
                    </ul>
                </li>
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"></i> <span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Settings</a></li>-->
                <!--<li><a href="#">Logout</a></li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>

            <div class="modal fade" id="faqs" data-target="#faqs">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span>

                            </button>
                            <h4 class="modal-title"><strong></strong>FAQ</h4>

                        </div>
                        <div class="modal-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                                I have a question or need help to perform an anlaysis. Can I contact you
                                                to get any help? </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse ">
                                        <div class="panel-body">
                                            Yes, we are reachable by email.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                                How import of CSV billing works? </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            We have a lmbda function setup in AWS account for this.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                                How Often data CSV is imported? </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            As soon as data CSV is created or updated.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                                How long it took to built and test? </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSeven" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            8-10 weeks with a small team
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseHeight">
                                                Does it support multiple accounts? </a></h4>
                                    </div>
                                    <div id="collapseHeight" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Yes, but accounts needs to be created from backend, then you can switch from
                                            UI. Account creation from browser itself is in development.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>