<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Data Visualization</title>

  <!-- Bootstrap core CSS -->
  <link href="scripts/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Fontawesome -->
  <link href="scripts/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- Bootstrap-datepicker core CSS -->
  <link href="scripts/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">

  <!-- Bootstrap tour core CSS -->
  <link href="scripts/bootstrap-tour/build/css/bootstrap-tour.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="stylesheets/sticky-footer-navbar.css" rel="stylesheet">

  <link rel="stylesheet" href="stylesheets/style.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <!-- 1. Load libraries -->
  <!-- Polyfill for older browsers -->
  <script src="scripts/core-js/client/shim.min.js"></script>
  <script src="scripts/zone.js/dist/zone.js"></script>
  <script src="scripts/reflect-metadata/Reflect.js"></script>
  <script src="scripts/systemjs/dist/system.src.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaoFHCTO3LI_omK-U81E969rAHwsN-w8A&libraries=visualization"></script>
  <!-- 2. Configure SystemJS -->
  <script src="systemjs.config.js"></script>
  <script>
    System.import('app').catch(function (err) { console.error(err); });
  </script>
</head>

<body>




  <my-app>Loading...</my-app>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="scripts/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="javascripts/ie10-viewport-bug-workaround.js"></script>
  <script src="scripts/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <script src="scripts/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>

</body>

</html>