/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*body > .container-fluid {
  padding: 60px 15px 0;
}*/
.container-fluid .text-muted {
  margin: 20px 0;
}

.footer > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.navbar-brand {
    padding: 0px;
		margin: 0px;
}

.navbar-brand > img {
  height: 100%;
  width: auto;
  padding: 6px 0px 6px 15px;
}

.navbar-text{
	margin-bottom: 0px !important;
}

.navbar-text strong{
  color: #000;
  font-size: 18px;
}

.aws-app-container{
  padding-top: 65px;
}

div.tooltipcss {   
 	position: fixed;           
	text-align: center;           
	width: 200px;                 
	padding: 10px;             
	font: 12px sans-serif;        
	background: lightsteelblue;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;   
	color: #000;
	font-weight: bold;      
}
.resource-region:hover{
  fill: orange;
  fill-opacity: .7;
}

.well-padding{
	margin: 0 15px 15px 15px;
}

.right-extra-pad{
	padding-right: 8px;
}

.input-group-addon{
	cursor: pointer;
}

.detailed-report-filter{
	width: 100%;
}

.detailed-report-filter input{
	width: 30% !important;
}

.form-control[readonly]{
      background-color: #fff !important;
}

#startdemohelp{
    margin: 10px 15px 0px 20px;
}

.navbar-fixed-top {
    z-index: 1101;
}

.container{
  position: fixed;
  top: 50%;
  width:100%;
}

.center-msg{
    margin: auto;
    overflow: hidden;
    width: 50%;
}

#detailfilter {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}
.aws-panel-padding{
  padding: 15px 0 15px!important;
}

.daterangepicker table { font-size: 12px!important; }
.form-control { font-size: 12px!important; }
.ranges li { font-size: 12px!important; }

.date-range-input{
  width: 230px!important;
}