<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <a href="http://www.3pillarglobal.com/" target="_blank">
                    <img src="images/3pg.logo.png">
                </a>
                <span class="navbar-text"><strong>AWS Billing Visualization</strong></span>
            </div>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="button" id="startdemohelp" class="btn btn-default" (click)="bootstrapTour()">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        Help
                    </button>
                </li>
            </ul>

            <div class="navbar-right record-info" id="availabledata">
                <span class="navbar-text"><label>Last Updated:</label> {{lastupdated | date:'short' }}</span>
                <span class="navbar-text"><label>Records:</label> {{totalRecord}}</span>
            </div>
        </div>
    </div>
</nav>