<!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="http://www.3pillarglobal.com/" target="_blank">
          <img class="img-responsive" src="images/3pg.logo.png">
        </a>
        <span class="navbar-text"><strong>AWS Billing Visualization</strong></span>
      </div>
      
      <div id="navbar" class="collapse navbar-collapse">
        <!--<ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>-->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <button type="button" id="startdemohelp" class="btn btn-default" (click)="bootstrapTour()">
                <span class="glyphicon glyphicon-question-sign"></span>
                  Help 
            </button>
          </li>
        </ul>

        <div class="navbar-right record-info" id="availabledata">
            <span class="navbar-text"><label>Last Updated:</label> {{lastupdated | date:'short' }}</span>
            <span class="navbar-text"><label>Records:</label> {{totalRecord}}</span>
        </div>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>