<!--<h1>Step1</h1>
<form (ngSubmit)="onSubmit()" #elasticForm="ngForm">
    <div class="form-group">
        <label for="eurl">Elastic URL</label>
        <input type="text" class="form-control" id="eurl" required [(ngModel)]="model.eurl" name="eurl" #eurl="ngModel">
        <div [hidden]="eurl.valid || eurl.pristine"
             class="alert alert-danger">
          Url is required
        </div>
    </div>
    <div class="form-group">
        <label for="company">Company</label>
        <input type="text" class="form-control" id="company" required [(ngModel)]="model.company" name="company" #company="ngModel">
        <div [hidden]="company.valid || company.pristine"
             class="alert alert-danger">
          Company name is required
        </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!elasticForm.form.valid">Next</button>
</form>-->

<div class="container-fluid aws-app-container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <label>Elastic search connectivity</label>
                    <span class="error-msg" *ngIf="stepstaps.one.msg!=''">{{stepstaps.one.msg}}</span>
                    <span>
                <i class="fa fa-spinner fa-2x fa-spin" aria-hidden="true" *ngIf="stepstaps.one.error==true"></i>
                <i class="fa fa-check fa-2x" aria-hidden="true" *ngIf="stepstaps.one.error==false"></i>
        </span>
                </li>
                <li class="list-group-item" *ngIf="stepstaps.one.error==false">
                    <label>Account Name: </label>
                    <input type="text" name="accountname" #accountname> <a href="javascript:void(0)" (click)="checkAccountNameAvailability(accountname.value)">Check Availability</a>
                    <span class="error-msg" *ngIf="stepstaps.two.msg!=''">{{stepstaps.two.msg}}</span>
                    <span>
                <i class="fa fa-spinner fa-2x fa-spin" aria-hidden="true" *ngIf="accountNameLoader==true && accountname.value!=''"></i>
                <i class="fa fa-check fa-2x" aria-hidden="true" *ngIf="stepstaps.two.error==false && accountname.value!=''"></i>
        </span>
                </li>
                <li class="list-group-item" *ngIf="stepstaps.two.error==false">

                    <form class="form-inline">
                        <label>Aws S3 connectivity: </label>
                        <div class="form-group">
                            <input type="text" class="form-control" id="awskey" placeholder="AWS Key" required [(ngModel)]="model.awskey" name="awskey"
                                #awskey="ngModel">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="awssecret" placeholder="AWS Secret" required [(ngModel)]="model.awssecret" name="awssecret"
                                #awssecret="ngModel">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="awsbucket" placeholder="AWS Bucket" required [(ngModel)]="model.awsbucket" name="awsbucket"
                                #awsbucket="ngModel">
                        </div>
                        <a href="javascript:void(0);" (click)="checkAwsConnectivity()">Check Connectivity</a>

                        <span class="error-msg" *ngIf="stepstaps.three.msg!=''">{{stepstaps.three.msg}}</span>
                        <span>
                    <i class="fa fa-spinner fa-2x fa-spin" aria-hidden="true" *ngIf="awsloader==true"></i>
                    <i class="fa fa-check fa-2x" aria-hidden="true" *ngIf="stepstaps.three.error==false"></i>
            </span>
                    </form>

                </li>
                <li class="list-group-item" *ngIf="stepstaps.three.error==false">
                    <form class="form-inline">
                        <label>Upload Sample file: </label>
                        <div class="form-group">
                            <input type="checkbox" class="form-control" value="true" #uploadsamplefile>
                        </div>
                        <input type="button" class="btn btn-success" (click)="onFinishSetup(uploadsamplefile.value)" value="Finish Setup">
                        <span>
                <i class="fa fa-spinner fa-2x fa-spin" aria-hidden="true" *ngIf="finishloader==true"></i>
                <!--<i class="fa fa-check fa-2x" aria-hidden="true"></i>-->
            </span>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>